


img { 
	border: 2px solid #54C03F;
	border-radius: 50%;
}

body { 
	font-family: Arial 
}

h1, h2 {
	font-family: Arial; 
	color: green;
	font-variant: small-caps;
	}
.naglowek {
	background-color: #D1FAD2;
	padding: 10px;
}
		
 a {
	 color: darkgreen;
	 text-decoration: none;
	 font-weight: bold;
 }
 input {
	 margin-bottom: 10px;
	 border-radius: 5px;
 } 
 


